:root {
	--primary-color: #357b70;
	--secondary-color:  #e0b354;
	--dark-grey:  #2b2b2b;
	--selected-color:  #489c79;
	--body-font-size:  16px;
	--primary-weight:  700;
	--background-color: #adadf5
}

a {
	color: var(--primary-color);
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: var(--primary-weight);
	font-size: var(--body-font-size);
	line-height: 1.6;
	color: var(--dark-grey);
	margin: 5px auto;
	padding: 10px;
}

h1 {
	font-size: 30px;
	font-weight: var(--primary-weight);
	margin: 0 auto;
}

h2 {
	font-size: 24px;
	font-weight: var(--primary-weight);
}

h3 {
	font-size: 18px;
	font-weight: var(--primary-weight);
}

a {
	color: var(--primary-color);
}

.page-header {
	display: flex;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #367b70;
	margin-bottom: 5px;
}

.page-header__item {
	flex:  0 1 100px;
}

.page-header__item:first-child {
	flex-shrink: 1;
}

.page-header img {
	width: 120px;
}

.button-class {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* safari only - change */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4caf50;
}