:root {
	--primary-color: #357b70;
	--secondary-color:  #e0b354;
	--dark-grey:  #2b2b2b;
	--selected-color:  #489c79;
	--body-font-size:  16px;
	--primary-weight:  700;
	--background-color: #adadf5
}

a {
	color: var(--primary-color);
}

main {
    margin: 20px;
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: var(--primary-weight);
	font-size: var(--body-font-size);
	line-height: 1.6;
	color: var(--dark-grey);
	margin: 20px auto;
	padding: 10px;
    background-color: antiquewhite;
}

h1 {
	margin: 0 auto;
    font-size: 2.5rem;
	font-weight: var(--primary-weight);
	text-align: center;
}

h2 {
	font-size: 24px;
	font-weight: var(--primary-weight);
}

h3 {
	font-size: 18px;
	font-weight: var(--primary-weight);
}

a {
	color: var(--primary-color);
}

ul {
    text-align: left;
}

.page-header {
	display: flex;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #367b70;
	margin-bottom: 5px;
}

.page-header__item {
	flex:  0 1 100px;
}

.page-header__item:first-child {
	flex-shrink: 1;
}

.page-header img {
	width: 120px;
}

.button-class {
    background-color: #3c853e;
    border: 5px;
    color: antiquewhite;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: bold;
    -webkit-transition-duration: 0.4s; /* safari only - change */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
}

.container {
    text-align: center;
    align-items: center;
}

.modal-container {
    display:none,
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center;
}

.navbar {
    background-color: orange;
    line-height: 1;
    text-transform: uppercase;
}

.pokemon-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    border: none;
    background-color: antiquewhite;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.pokemon-button {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    background-color: orangered;
    border-radius: 5px;
    margin: 10px;
    width: 200px;
    transition: 0.4s background-color;
    color: black;
}

.pokemon-button:hover {
    background-color: orange;
    cursor: pointer;
    animation: button-shake 0.4s;
    color: black;
}

.modal-header {
    background-color: orange;
}

.modal-body {
    align-items: center;
    text-align: center;
}

/* .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
} */

/* .modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
    cursor: pointer;
}

.modal h1 {
    margin-top: 0;
}

.modal p {
    margin-top: 0;
} */